nav img{
    width: 80px;
   
}
#footer{
    background-color:rgb(158, 151, 151); 
    color: black ;
   }
   #footer a{
       text-decoration: none;
   color:white;
   
   }
   .card img{
    border: none;
   max-width:  100vh;

  
   }
  
